<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

 <head>
  <title>Unto.net &gt; Delancey &gt; $username &gt; Claim &gt; Choose</title>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
  <link rel="stylesheet" type="text/css" 
        href="$site_info.project_url/static/css/delancey-0.1.css" />
  <script type="text/javascript" 
          src="$site_info.project_url/static/js/prototype-1.4.0_rc4.js"></script>
  <script type="text/javascript" src="http://www.google-analytics.com/urchin.js"></script>
  <script type="text/javascript">_uacct = "UA-68277-1"; urchinTracker();</script>
  <script type="text/javascript"><!--
window.onload = function( ) 
{ 
  \$( 'choose-password' ).onsubmit = function( event )
  {
    if ( !\$( 'password' ).value ) { \$( 'validation' ).innerHTML = 'Password required'; return false; }
    else if ( \$( 'password' ).value != \$( 'password-again' ).value ) { \$( 'validation' ).innerHTML = 'Passwords do not match'; return false; }
    else { return true; }
  }
  Form.focusFirstElement( \$( 'choose-password' ) ); 
}

//--></script>
 </head>

 <body>


  <div class="explanation">
   <h2><a href="http://www.unto.net/">Unto.net</a> &gt; <a href="$site_info.project_url">Delancey</a> &gt; $username &gt; Claim &gt; Choose</h2>
   <p>
    These forms will allow you to claim the del.icio.us username
    <strong>$username</strong> on Delancey.
   </p>
  </div>

[% IF is_claimed %]
  <div class="note">
   <h3>Notice:</h3>
   <p>
    The username <strong>$username</strong> has already been claimed.  If this
    was by you, and you simply want to choose a new password, please
    continue by filling out the form below.
   </p>

   <p>
    If you are not <strong>$username</strong>, please return to the
    <a href="$site_info.project_url">Delancey Homepage</a> and start over
    with your own username.
   </p>
  </div>
[% END %]


  <div class="tasks">

   <h3>Steps:</h3>

   <p>
    Folow these three steps to claim <strong>$username</strong> as
    your Delancey username.
   </p>

   <div class="active-task task">
    <p><h4>&raquo; Step 1:</h4> Please choose a 
     [% IF is_claimed %] new [% END %] Delancey password:</p>

    <form id="choose-password"  method="post" action="$site_info.project_url/claim/verify/$username/">
     <fieldset>
      <label for="password">Password:</label>
      <input id="password" type="password" name="password"/>
      <br/>
      <label for="password-again">Password (Again):</label>
      <input id="password-again" type="password" name="password-again">    
      <br/>
      <input id="choose-password-submit" class="form-submit" type="submit" value="Submit Delancey Password"/>
     </fieldset>
    </form>
  
    <div id="validation" class="error-message"></div>

   </div>

   <div class="disabled-task task">
    <p><h4>Step 2:</h4> Verify your del.icio.us username.</p>
   </div>

   <div class="disabled-task task">
    <p><h4>Step 3:</h4> Complete the claim.</p>
   </div>
  
  </div>


  <div class="explanation">

   <h3>Explanation:</h3>

   <p>
    You are about to stake a claim on the username
    <strong>$username</strong> at Delancey.  This means that you, and
    only you, can update Delancey information using the username
    <strong>$username</strong>.  But first, you are required to
    demonstrate that you are
    <strong>$username</strong> at del.icio.us.
   </p>

   <p>
    This process has three steps.  First, you will choose a Delancey
    password and send it to the Delancey servers. This password should
    not be the same as your del.icio.us password.
   </p>

   <p>
    Second, you will need need to prove to the Delancey server that
    you are <strong>$username</strong> at del.icio.us.  You will do
    this by using del.icio.us to bookmark a unique URL for Delancey.
   </p>

   <p>
    Third, you can complete your claim
    <strong>$username</strong> on Delancey.  If you ever need to
    reset your password, just return to <a
    href="$site_info.project_url/claim/choose/$username">the claim
    page</a> and try again.
   </p>

  </div>

 </body>
</html>
