<?xml version="1.0" encoding="UTF-8"?>

<OpenSearchDescription xmlns="http://a9.com/-/spec/opensearchdescription/1.0/">
  <Url>$site_info.project_url/yahoo/web/opensearch/{searchTerms}/{startPage}</Url>
  <Format>http://a9.com/-/spec/opensearchrss/1.0/</Format>
  <ShortName>Yahoo Web</ShortName>
  <LongName>Search the web via Yahoo!</LongName>
  <Description>Search the web via Yahoo!</Description>
  <Tags>web search yahoo $site_info.site_name</Tags>
  <SampleSearch>cat</SampleSearch>
  <Developer>DeWitt Clinton</Developer>
  <Contact>dewitt@unto.net</Contact>
  <Attribution>Web search results Copyright 2005, Yahoo, Inc, All Rights Reserved.  Spring OSRSS interface Copyright 2005, DeWitt Clinton, All Rights Reserved.</Attribution>
  <SyndicationRight>open</SyndicationRight>
  <AdultContent>false</AdultContent>
</OpenSearchDescription>


