<?xml version="1.0" encoding="UTF-8"?>

<OpenSearchDescription xmlns="http://a9.com/-/spec/opensearch/1.1/">
  <Url type="application/atom+xml" template="$site_info.project_url/search/google/{searchTerms}/{startPage?}?format=atom"/>
  <Url type="application/rss+xml" template="$site_info.project_url/search/google/{searchTerms}/{startPage?}?format=rss"/>
  <Url type="application/xhtml+xml" template="$site_info.project_url/search/google/{searchTerms}/{startPage?}?format=xhtml"/>
  <ShortName>Google@Unto</ShortName>
  <LongName>Search the web with Google via Unto.net</LongName>
  <Description>Search the web with Google via Unto.net</Description>
  <Tags>web search google $site_info.site_name</Tags>
  <Query role="example" searchTerms="cat"/>
  <Developer>DeWitt Clinton</Developer>
  <Contact>dewitt@unto.net</Contact>
  <Attribution>Web search results Copyright 2006, Google, Inc, All Rights Reserved.  Spring interface Copyright 2005-2006, DeWitt Clinton, All Rights Reserved.</Attribution>
  <SyndicationRight>limited</SyndicationRight>
  <AdultContent>false</AdultContent>
</OpenSearchDescription>


