<?xml version="1.0" encoding="UTF-8"?>

<OpenSearchDescription xmlns="http://a9.com/-/spec/opensearch/1.1/">
  <Url type="application/rss+xml" template="$site_info.project_url/yahoo/product/opensearch/{searchTerms}/{startPage}" />
  <Url type="text/html" template="$site_info.project_url/yahoo/product/html/{searchTerms}/{startPage}" />
  <Format>http://a9.com/-/spec/opensearch/1.1/</Format>
  <ShortName>Yahoo Products</ShortName>
  <LongName>Search for products via Yahoo!</LongName>
  <Description>Search for products via Yahoo!</Description>
  <Tags>product search yahoo $site_info.site_name</Tags>
  <Query role="example" searchTerms="Harry Potter"/>
  <Developer>DeWitt Clinton</Developer>
  <Contact>dewitt@unto.net</Contact>
  <Attribution>Product search results Copyright 2005, Yahoo, Inc, All Rights Reserved.  Spring OSRSS interface Copyright 2005, DeWitt Clinton, All Rights Reserved.</Attribution>
  <SyndicationRight>open</SyndicationRight>
  <AdultContent>false</AdultContent>
</OpenSearchDescription>


