<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

 <head>
  <title>Unto.net &gt; Delancey &gt; $username &gt; Claim &gt; Failure</title>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
  <link rel="stylesheet" type="text/css" 
        href="$site_info.project_url/static/css/delancey-0.1.css" />
  <script type="text/javascript" 
          src="$site_info.project_url/static/js/prototype-1.4.0_rc4.js"></script>
 </head>

 <body>


  <div class="explanation">

   <h2><a href="http://www.unto.net/">Unto.net</a> &gt; <a href="$site_info.project_url">Delancey</a> &gt; $username &gt; Claim &gt; Failure</h2>

   <p>
    You have reached an invalid Delancey claim page.  
   </p>

   <p>
    The first thing to do is to try reloading this page.  If that doesn't
    work, please continue reading below.
   </p>

   <p>
    This could happen for several reasons.  The claim you are
    trying to make may have already been completed.  Or it may have
    expired.  In either case, please return to <a
href="$site_info.project_url/start/">the Delancey homepage</a> and begin
    again.
   </p>

   <p>
    Alternately, you may have been trying to make a claim without logging
    in to del.icio.us first.  Please <a
    href="http://del.icio.us/login">log in now</a> and try again..
   </p>

   <p>
    Or there may simply be a bug in the system.  Please try again, but if that
    still doesn't work, please send mail to "delancey" at "unto.net"
    explaining as many details as you can.
   </p>

   <p>
    If none of this makes any sense, be sure to visit <a
    href="$site_info.project_url/start/">Delancey</a> and learn more.
   </p>

  </div>

 </body>
</html>
