<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>[% site_info.project_name FILTER ucfirst %] Redirector</title>
    <link rel="stylesheet" href="$site_info.project_url/static/css/rivington.css" type="text/css" media="screen" />
   <script type="text/javascript" src="$site_info.project_url/static/js/prototype-1.3.1.js"></script>
   <script type="text/javascript" src="$site_info.project_url/static/js/behaviour-1.0.js"></script>
   <script type="text/javascript" src="$site_info.project_url/static/js/rivington-0.1.js"></script>
  </head>

  <body>
   <div class="page"> 

    <form action="$site_info.project_url" method="get">
     <fieldset>
      <legend>Shorten a URL</legend>
      <label for="url">URL:</label>
      <input type="text" size="40" name="url" value="$url" id="url" />
      <label for="hint">Hint (optional):</label>
      <input type="text" size="40" name="hint" value="$hint" id="hint" />
      <input type="submit" value="Save"/>
      [% IF short_url %] 
      <div class="result">
       <label for="short-url">Your short URL:</label>
       <span id="short-url"><a href="$short_url">$short_url</a></span>
      </div>
      [% END %]
     </fieldset>
    </form>

    <div class="documentation">
     <p>
      Welcome to the [% site_info.project_name FILTER ucfirst %] Redirector.
     </p>

     <p>
      Enter a URL above.  When you click on the "save" button, your
      URL will be stored in the [% site_info.project_name FILTER ucfirst %] 
      database.  You be given a short URL that can be used in place
      of the long URL wherever you would like.  
     </p>

     <p>
      Everything following the "?" in the short URL is a hint.  It is
      automatically generated to help people remember where the
      short URL will point.  However, the hint is entirely optional  &mdash;
      feel free to change the hint or remove it altogether.  If you like,
      you can enter in your own hint instead.
     </p>

     <p>
      For example, <a href="$site_info.project_url/?url=http%3A%2F%2Fwww.unto.net%2Funto%2F">shorten a path to http://www.unto.net/unto/</a>.
     </p>

      <p>
      Drag this bookmarklet to your toolbar to easily convert the
      current browser location to a shortened URL: 
      <a href="javascript:void(location.href='$site_info.project_url/add?url='+location.href)">Shorten</a>
     </p>
 
     <p> 
      Everything in the [% site_info.project_name FILTER ucfirst %]
      Redirector is also available via a 
      <a href="$site_info.project_url/api">web services API</a>.
     </p>

     <p>
      Use of this service to send unsolicited commerical email
      (SPAM) is strictly disallowed.  Links of this sort will
      be detected and redirected to a page explaining to the
      recipient that they have been sent SPAM.
     </p>

     <p>
      The [% site_info.project_name FILTER ucfirst %] Redirector was
      built by <a href="http://www.unto.net/">DeWitt Clinton</a>.  
      <a href="http://www.unto.net/unto/work/the-rivington-redirector/">Read more about the project</a>,
      or view the 
      <a href="http://svn.unto.net/svn/public/rivington/trunk/">source 
      code</a>.
     </p>
    </div>
   </div>
  </body>
</html>


