<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Unauthorized usage.  Redirect disallowed.</title>
    <link rel="stylesheet" href="$site_info.project_url/static/css/rivington.css" type="text/css" media="screen" />
  </head>
  <body>
    <div class="page"> 
 
      <div class="documentation">
        <p>
          Unauthorized usage of the redirector.
        </p>
 
        <p>
          Don't worry, you probably didn't do anything wrong.  You are
        most likely visiting this site because someone
        sent you an email that contains unsolicited commercial
        material (<a
href="http://en.wikipedia.org/wiki/Spam_%28electronic%29">SPAM</a>).
        </p>
 
        <p>     
         In many cases, sending SPAM is not only wrong, it is <a
href="http://en.wikipedia.org/wiki/CAN-SPAM_Act_of_2003">illegal</a>.

         The person who sent you that email doesn't have your
         permission, nor do they have the permission to use
         this redirection service.  Also, many of the sites and 
         products that they link to are illicit or harmful.
        </p>

        <p>
          Please go back to your mail reader and mark the message
          that directed you here as junk mail.  This will help prevent
          similar mistakes from happening in the future.
        </p>  
      </div>
    </div>
  </body>
</html>

