body 
{
	font-family: verdana, arial, helvetica, sans-serif;
        color: #222222;
        font-size: small; 
        background-color: #EEEEEE; 
        text-align: center;
        line-height: 1.4em;
}


ol, ul, li, a, span, div
{ 
	padding: 0px; 
	margin: 0px; 
	width: auto; 
}


a 
{
	color: #222222;
	text-decoration: underline; 
	cursor: pointer;
}

a:hover 
{
	color: #999999;
}


a:active 
{
	color: #000000;
}


.page 
{
        text-align: center;
        padding: 15px;
}

.result
{
        margin: 10px;
        padding: 15px;
}

.documentation
{
        padding: 20px;
        margin: 0 auto;
        text-align: justify;
        width: 600px;
}

#short-url
{
        background: #FFFFFF;
        border: thin solid #CCCCCC;
        padding: 5px 10px 5px 10px;
}
